.filterDiv {
  float: left;
  background-color: black;
  color: white;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
